body {
  font-family: "Open Sans", sans-serif;

  main div.content section#form .form-wrapper {
    input,
    textarea,
    button {
      font-family: "Open Sans", sans-serif;
      font-size: 0.8rem;
    }
  }
}
