body {
  background: url(../images/background.jpg) center / cover;

  main {
    div.content {
      section {
        &#menu {
          .details-button,
          .form-button {
            background: rgba(255, 255, 255, 0.9);
          }
        }

        &#form .form-wrapper {
          button {
            background: black;
            color: white;
          }
        }

        &#form,
        &#details {
          background: rgba(255, 255, 255, 0.66);
        }
      }
    }
  }
}
